# exclude anything by default
*

# allow specific files
!api.js
!bot.js
!config.js
!.gitignore
!package*.json
!README.md
!deploy-commands.js

# allow specific directories
!/commons/
!/commons/**/*.js
!/events/
!/events/**/*.js
!/interactions/
!/interactions/**/*.js
!/messages/
!/messages/**/*.js
