# exclude anything by default
*

# allow specific files
!api.js
!bot.js
!config.js
!.gitignore
!package*.json
!README.md

# allow specifi directories
!/commons/
!/commons/**/*
!/events/
!/events/**/*
!/interactions/
!/interactions/**/*
!/messages/
!/messages/**/*
